.counterWrapper {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    gap: 60px;
}

.errorMessage {
    font-size: 18px;
    font-weight: 500;
    color: #DEEFE7;
    margin-top: 16px;
    text-align: center;
}

.red {
    font-weight: 700;
    color: #002333;
}

.displayWrapper {
    min-width: 400px;
}

