.counter {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DEEFE7;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 17px;
}

.counterDone {
    color: #002333;
    border: 2px solid #002333;
}