.app {
    background: #159A9C;
    font-family: 'Roboto', sans-serif;
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #DEEFE7;
}

.app hr {
    width: 90%;
    margin-bottom: 25px;
    border: 1px dashed #DEEFE7;
}